include README.md
include clinicaml/VERSION
include LICENSE.txt
include clinicaml/pipelines/space_required_by_pipeline.csv
recursive-include clinicaml/lib *
recursive-include clinicaml/iotools *
recursive-include clinicaml/resources *
recursive-include clinicaml/pipelines info.json *.m
